[user]
	name = PJ Gray
	email = pj@evertrue.com
[alias]
	co = checkout
	
	# Log display from screencast, with train tracks.
	ll = log --graph --date=short --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ad%Creset'
	
	# Alternate log display from Scott Chacon: shows colors for decorations but no date
	l = log --pretty=oneline --abbrev-commit --graph --decorate
	
	# short form status
	s = status --short
	
	# show me describe from most recent version tag
	v = describe --match version*
	
	c = commit -avem ":trollface:"
  
  cb = checkout -b
  	
[apply]
	whitespace = nowarn
[core]
	editor = code -w
[color]
	# colors from screencast
	diff = auto
	status = auto
	branch = auto
	ui = true
[help]
	# auto run command if only one suggestion
	autocorrect = 1
[push]
	default = matching
[pull]
	rebase = false
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
